/*
 Copyright © 2018 GalactisIO. Contacts: <iogalactis@gmail.com, planetorbitum@gmail.com>
*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

player block input[type=range]:focus {
    outline: none;
}

player block input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
}

player block input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 8px;
    background: goldenrod;
    margin-top: -6px;
}

player block input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

player {
    position: fixed;
    display: block;
    background-color: #293133;
    height: 2rem;
    width: 20rem;
    min-width: 14rem;
    z-index: 100;
}

player block {
    background: inherit;
    position:  relative;
    height: inherit;
    width:  inherit;
    min-width:  inherit;
    bottom: 2rem;
    z-index: 101;
}

player block input[type=range] {
    -webkit-appearance: none; 
    -moz-appearance: none;
        appearance: none;

    border: none;
    width: 17.5rem;
    padding: 0;
    position: relative;
    top: 0.8rem;
    left: 0.3rem;
    right: 0.3rem;
}

player * {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.3s all;
    font-family: monospace;
}

player bar {
    background: #47A76A;
    width: 0%;
    height: 100%;
    max-width: 100%;
    display: block;
}

player bar[type="normal"] {
    background: #FFB841;
}

player bar[type="infinity"] {
    background: #4285B4;
    width: 100%;
}

player bar[type="error"] {
    background: #D23B3A;
    width: 100%;
}

player switch {
    color: white;
    display: block;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

player volume {
    color: white;
    display: block;
    position: absolute;
    left: 2rem;
    top: 0.5rem;
}

player link {
    color: white;
    display: block;
    position: absolute;
    left: 3.5rem;
    top: 0.5rem;
}

player repeat {
    color: white;
    display: block;
    position: absolute;
    left: 5rem;
    top: 0.5rem;
}

player time {
    color: white;
    display: block;
    position: absolute;
    left: 6.5rem;
    top: 0.5rem;
}

player menu {
    color: white;
    display: block;
    position: absolute;
    right: 0.5rem;
    top: -0.5rem;
    padding: 0;
}

player play {
    color: white;
    display: block;
    position: absolute;
    right: 1.8rem;
    top: 0.5rem;
    text-align: right;
}

switch:hover, volume:hover, repeat:hover, menu:hover, link:hover, time:hover {
    cursor: pointer;
    color: #D5D5D5;
}

player content {
    position: fixed;
    display: block;
    background-color: #293133;
    height: inherit;
    width: inherit;
    min-width: inherit;
}

player content list {
    position: fixed;
    display: block;
    background-color: #293133;
    height: 6rem;
    width: inherit;
    min-width: inherit;
    overflow-y: scroll;
    resize: vertical;
    overflow-x: hidden;
    white-space: nowrap;
}

player *::-webkit-scrollbar {
    width: 10px;
}

player *::-webkit-scrollbar-track {
    background: #d8d8db;
}

player *::-webkit-scrollbar-thumb {
    background: #1B9AD5;
}

player content input[type="url"] {
    padding: 0 0.5rem;
    width: 100%;
    height: 100%;
}

player[down] content {
    bottom: 3rem;
}

player[top] content {
    top: 3rem;
}

player[down] content list {
    bottom: 5.5rem;
}

player[top] content list {
    top: 5.5rem;
}

player content list media {
    padding: 0 0.5rem;
    display: block;
    margin: 0;
    height: 2rem;
    background: white;
    color: #293133;
    text-align: left;
    outline: 1px solid #123;
    line-height: 2rem;
    overflow-y: hidden;
    overflow-x: auto;
}

player content list media::-webkit-scrollbar {
    height: 4px;
}

player content list media:hover {
    background: #293133;
    color: white
}

player content list:last-child{
    outline: none;
}

*[display="hide"] {
    display: none;
}

*[display="show"] {
    display: block;
}

player[top] {
    top: 0.5rem;
}

player[down] {
    bottom: 0.5rem;
}

player[left] {
    left: 0.5rem;
}

player[right] {
    right: 0.5rem;
}
